@import "./mixin.scss";
@import "./reset.scss";
@import "./element-plus.scss";
@import "./sidebar.scss";
@import "./transition.scss";

#app {
  height: 100%;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}



.text-white {
  color: #fff;
}


.crumbs {
  margin-bottom: 20px;
}

/*VueEditor */

.plugins-tips {
  padding: 20px 10px;
  margin-bottom: 20px;
}

//icon
.warn-content {
  background: rgba(66, 185, 131, 0.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

/*BaseForm*/
